<?xml version='1.0' encoding='utf-8'?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="djwdj.busybox">
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<application
		android:icon="@mipmap/l"
		android:label="@string/l"
		android:theme="@android:style/Theme.Translucent.NoTitleBar">
		<activity
			android:screenOrientation="nosensor"
			android:excludeFromRecents="true"
			android:name="l.l"
			android:label="@string/l">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>
</manifest>
